<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Centenaire bataillie</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">

    <link rel="stylesheet" href="/css/menuUser.css">
    <script src="/js/menuUser.js"></script>
    <script src="/js/utils.js"></script>
</head>
<body>
<div class="battles_wrap_jq">
    <div class="battles_wrap">
        <div class="battles">

            <h2>Battles</h2>
            <div class="close_battles"><p>X</p></div>
            <div class="battles_prop">
                <div class="number_battle_prop">
                    <p>#</p>
                </div>
                <div class="nameBattle_prop">
                    <p>Cражения</p>
                </div>
                <div class="name_user_prop">
                    <p>Игрок</p>
                </div>
                <div class="EnterBattle_prop">

                </div>
            </div>
            <div class="battles_container">
                <div class="battle">
                    <div class="number_battle">
                        <p>1</p>
                    </div>
                    <div class="nameBattle">
                        <p>Имя сражения</p>
                    </div>
                    <div class="user1">
                        <p>Игрок1</p>
                    </div>
                    <div class="EnterBattle">
                        <div class="enterBattleButton">
                            <p>Присоединиться</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wraper">
    <!-- Start menu wrapper -->
    <div class="menu__wraper">
        <div class="menu__block menu__left-full">
            <div class="character__wraper">
                <!-- кнопки выбора тела -->
                <div class="changer-btn__wrap">
                    <div class="changer-btn__head">
                        <span class="changer-btn-left"><</span>
                        <span class="changer-btn-right">></span>
                    </div>

                    <div class="changer-btn__body">
                        <span class="changer-btn-left"><</span>
                        <span class="changer-btn-right">></span>
                    </div>

                    <div class="changer-btn__foot">
                        <span class="changer-btn-left"><</span>
                        <span class="changer-btn-right">></span>
                    </div>
                </div>

                <img src="/images/pers.jpg" alt="/images/pers.jpg" class="character__img">
            </div>
        </div>
        <div class="menu__block menu__right-top">
            <h2 class="login-form__title">Свойства</h2>
            <div class="container">
                <div class="prop_player">
                    <div><p>Login</p></div>
                    <div><p>:</p></div>
                    <div><p><%= data.login %></p></div>
                </div>
                <div class="prop_player">
                    <div><p>Nickname</p></div>
                    <div><p>:</p></div>
                    <div><p><%= data.nickname %></p></div>
                </div>
                <div class="prop_player">
                    <div><p>Token</p></div>
                    <div><p>:</p></div>
                    <div><p><%= data.token.slice(1, 10) + "..." %></p></div>
                </div>
                <div data-battle="id-battle" class="prop_player">
                    <div><p>Game</p></div>
                    <div><p>:</p></div>
                    <div><p><%= data.battle !== null ? data.battle : "Нет" %></p></div>
                </div>
            </div>
        </div>
        <div class="menu__block menu__right-center">
            <h2 class="login-form__title">Поменять никнейм</h2>

            <input type="text" class="login__input" placeholder="<%= data.nickname %> " name="nickname"
                   id="js-change_nickname-input">

        </div>
        <div class="menu__block menu__right-bottom">
            <form action="" class="connect_server">
                <h2 class="login-form__title">Подключиться к серверу</h2>

                <input type="text" class="login__input" name="server_id" id="js-server_id" placeholder="id#4839">
                <div class="message_button">
                    <input type="submit" value="Список комнат" class="button" id="js-list_rooms__submit">
                    <input type="submit" value="Вход" class="button" id="js-connect_server__submit">
                </div>
            </form>
        </div>
    </div>
    <!-- Start menu wrapper -->
</div>

</body>
</html>
